<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Subir"/></p>
        </form>


        {% if not columns %}
            {% if documents %}
                <table style="  margin-left: auto;
                                margin-right: auto;
                                max-width: 500px;
                                height: 500px;">
                <tr>
                    {% for document in documents %}
                        <th><embed src= "{{ document.docfile.url }}" 
                        style=" margin-left: auto;
                                margin-right: auto;
                                max-width: 500px;
                                height: 500px;"></th>
                    {% endfor %}
                </tr>
                </table>
            {% else %}
                <p>No documents to show.</p>
            {% endif %}
        {% endif %}
        

        <table style="  margin-left: auto;
                            margin-right: auto;
                            max-width: 500px;
                            height: 500px;">

        <tr>
        <th>Columna 1</th>
        <th>Columna 2</th>
        <th>Columna 3</th>
        </tr>

        </table>

        <h1 id="id1">My Heading 1</h1>

        <button type="button"
        onclick="document.getElementById('id1').style.color = 'red'">
        Click Me!</button>


    </body>

</html>