{% load staticfiles %}
<!DOCTYPE html>
<html>
    <script src="{% static "hide.js" %}" type="text/javascript"></script>
    <script src="{% static "cookies.js" %}" type="text/javascript"></script>
    <script src="{% static "documentHandler.js" %}" type="text/javascript"></script>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Subir"/></p>
        </form>


        {% if documents %}
            <table style="  margin-left: left;
                            margin-right: auto;
                            max-width: 500px;
                            height: 500px;">
                <tr>
                    <th style="text-align: left; vertical-align: text-top;">
                    {% for document in documents %}
                    <p><input   id="{{ document.docfile.name|add:"_btn" }}"
                                type="button"
                                value="Show " 
                                onClick="return showStuff('{{ document.docfile.name }}', this);"
                    /></p>
                    <script type="text/javascript">
                        document.getElementById('{{ document.docfile.name|add:"_btn" }}').name = getDocumentName("{{ document.docfile.name }}"); 
                        document.getElementById('{{ document.docfile.name|add:"_btn" }}').value = document.getElementById('{{ document.docfile.name|add:"_btn" }}'). value + document.getElementById('{{ document.docfile.name|add:"_btn" }}').name;
                    </script>
                    {% endfor %}
                    </th>
                    {% for document in documents %}
                        <th>
                            <embed  src= "{{ document.docfile.url }}" 
                                    style="     margin-left: auto;
                                                margin-right: auto;
                                                max-width: 500px;
                                                height: 500px;
                                                display: none;"
                                    id="{{ document.docfile.name }}"
                            />
                        </th>
                    {% endfor %}
                </tr>
            </table>
        {% else %}
            <p>No documents to show.</p>
        {% endif %}
    </body>

</html>